<%= render 'layouts/header' %>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="jumbotron jumboimage">
     <div class="jumbotext">
        <h1 class="over">Neat, Confident, Corporate and Elegant</h1>
        <h3 class="just">Let us take away from you the strain of dirty clothes</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12">
      <h4 style="text-align: center;">Providing excellent cleaning
        services aimed at improving the standard<br> of living of all our esteemed customers</h4>
    </div>
  </div>
</div>
<p style="padding:20px;"></p>
<div class="container">
  <div class="col-12 col-sm-12">
    <h3 style="text-align: center; color: #083944;"><span style="font-size: 1em">Our Services</span></h3>
  </div>
</div>

<div class="container services">
  <div class="row">
    <div class="col-12 col-sm-3">
      <%= image_tag 'DryCleaning.png', class: 'img-fluid img-thumbnail serve', alt: 'Drycleaning' %>
      <div class="centered"><h3>Drycleaning</h3></div>
    </div>
    <div class="col-12 col-sm-3">
      <%= image_tag 'mrbubbleswashers.png', class: 'img-fluid img-thumbnail serve', alt: 'Laundry' %>
      <div class="centered"><h3>Laundry</h3></div>
    </div>
    <div class="col-12 col-sm-3">
      <%= image_tag '3ae.png', class: 'img-fluid img-thumbnail serve', alt: 'Janitorial Services' %>
      <div class="centered"><h3>Janitorial Services</h3></div>
    </div>
    <div class="col-12 col-sm-3">
      <%= image_tag 'Iss.png', class: 'img-fluid img-thumbnail serve', alt: 'Facility Management' %>
      <div class="centered"><h3>Facility Management</h3></div>
    </div>
  </div>
</div>
<p style="padding:20px;"></p>
<%= render 'layouts/bluebus' %>
<p style="padding:1px;"></p>
<%= render 'layouts/getintouch' %>




