<% provide(:title, 'Services') %>
<%= render 'layouts/header' %>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="jumbotron jumboimage1">
      <div class="jumbotext">
        <h3 class="over">Delivering world class services to our wonderful clients</h3>
      </div>
    </div>
  </div>
</div>

<div class="container services">
  <div class="row">
    <div class="col-12 col-sm-6">
      <%= image_tag 'DryCleaning.png', class: 'img-fluid img-thumbnail serve', alt: 'Drycleaning' %>
      <div class="centered"><h3>Drycleaning</h3></div>
    </div>
    <div class="col-12 col-sm-6">
      <%= image_tag 'mrbubbleswashers.png', class: 'img-fluid img-thumbnail serve', alt: 'Laundry' %>
      <div class="centered"><h3>Laundry</h3></div>
    </div>
  </div>
  <p style="padding-bottom: 10px;"></p>
  <div class="row">
    <div class="col-12 col-sm-6">
      <%= image_tag '3ae.png', class: 'img-fluid img-thumbnail serve', alt: 'Janitorial Services' %>
      <div class="centered"><h3>Janitorial Services</h3></div>
    </div>
    <div class="col-12 col-sm-6">
      <%= image_tag 'Iss.png', class: 'img-fluid img-thumbnail serve', alt: 'Facility Management' %>
      <div class="centered"><h3>Facility Management</h3></div>
    </div>
  </div>
</div>
<p style="padding: 20px;"></p>
<%= render 'layouts/bluebus' %>
<p style="padding:1px;"></p>
<%= render 'layouts/getintouch' %>
