<% provide(:title, 'Sign up') %>

<%= render 'users/whiteheader' %>

<div class="container">
  <div class="col-12">
    <i class="material-icons md-48 darkblue" style="display: inline-block;
        width: 100%;">input</i>
    <h3 style="text-align: center; color: #083944;">Sign up</h3>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4 offset-md-4">
    <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.text_field :name, class: 'form-control', placeholder: 'Full Name', autofocus: true %>

        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>

        <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Phone Number' %>

        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>

        <%= f.password_field :password_confirmation, class: 'form-control',
                             placeholder: 'Confirm Password' %>

      <h6 style="text-align: center; color: #083944;">By creating an account,
        you agree to our Terms of use and that you
        have read our privacy policy, Terms and Conditions and Cookie policy</h6>

        <%= f.submit 'Create Account', class: 'btn sbtn1' %>
      <p style="color: #083944;">
        Have an account? <%= link_to 'Log in', login_path, class: 'btn sbtn1' %></p>
    <% end %>
  </div>
</div>

<%= render 'layouts/getintouch' %>