<%= render 'users/whiteheader' %>

<div class="container">
  <h3 style="text-align: center; color: #083944;">Your Cart</h3>
  <table>
    <% @cart.line_items.each do |item| %>
      <tr>
      <td><%= item.quantity %>&times;</td>
      <td><%= item.product.title %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
     </tr>
    <% end %>
      <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
    </tr>
  </table>
  <%= link_to 'Empty cart', @cart,
              method: :delete, data: { confirm: 'Are you sure?' },  class: 'btn sbtn1' %>
</div>
<p style="padding: 10px;"></p>


<%= render 'layouts/getintouch' %>