<%= render 'users/whiteheader' %>

<div class="container">
  <i class="material-icons md-48 darkblue" style="display: inline-block;
      width: 100%;">add_shopping_cart</i>
  <h3 style="text-align: center; color: #083944;">Your Cart</h3>
  <p style="padding: 10px;"></p>
    <% @cart.line_items.each do |item| %>
      <div class="row">
        <div class="col-sm-3">
          <%= item.quantity %> &times;
        </div>

        <div class="col-sm-3">
          <%= item.product.title %>
        </div>

        <div class="col-sm-3 item_price">
          <%=
            number_to_currency(item.total_price, unit: "₦") %>
        </div>

        <div class="col-sm-3">
          <%= link_to 'Remove item', @line_item, method: :delete, data: { confirm: 'Are you sure? ' },
          class: 'btn btn-sm btn-danger'%>
        </div>
        <p style="padding: 2px;"></p>
      </div>
    <% end %>
  <p style="padding: 10px;"></p>
  <div class="row">
    <div class="col-sm-6"><strong>Total</strong></div>
    <div class="col-sm-3 total_cell">
      <strong><%= number_to_currency(@cart.total_price, unit: "₦") %></strong></div>
    <div class="col-sm-3"><%= link_to '<strong>Empty cart</strong>'.html_safe, @cart,
                                      method: :delete, data: {confirm: 'Are you sure?'},
                                      class: 'btn btn-sm btn-danger' %></div></div>
  </div>
  <p style="padding: 10px;"></p>
  <div class="container">
    <%= link_to 'Continue shopping', store_path, class: 'btn btn-sm sbtn1' %>
  </div>
</div>
<p style="padding: 10px;"></p>


<%= render 'layouts/getintouch' %>