<%= render 'users/whiteheader' %>

<div class="container">
  <h3 style="text-align: center; color: #083944;">Your Cart</h3>
  <ul>
    <% @cart.line_items.each do |item| %>
      <li><%= item.quantity %> &times; <%= item.product.title %></li>
    <% end %>
  </ul>
  <%= link_to 'Empty cart', @cart,
              method: :delete, data: { confirm: 'Are you sure?' },  class: 'btn sbtn1' %>
</div>
<p style="padding: 10px;"></p>


<%= render 'layouts/getintouch' %>