<% provide(:title, 'Products') %>

<%= render 'users/whiteheader' %>

<h3 style="text-align: center; color: #083944;">Products</h3>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-md-3"  style="margin-bottom: 20px;">
        <div class="card"  style="height: 30rem;">
          <%= image_tag(product.image_url, class: 'card-img-top',  alt: product.title) %>
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><small class="text-muted"><%= product.price %></small></p>
            <p><%= link_to 'Show', product %></p>
            <p><%= link_to 'Edit', edit_product_path(product) %></p>
            <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p style="padding: 10px;"></p>
  <%= link_to 'New Product', new_product_path, class: 'btn sbtn1' %>
  <p style="padding: 10px;"></p>
</div>

